*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(0deg, rgba(53, 53, 53, 1.0), rgba(1, 1, 1, 1.0));
}
.carta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    background: radial-gradient(at center bottom, rgba(53, 53, 53, 1.0), rgba(1, 1, 1, 1.0));
}
.carta__foto{
    background-color:  rgb(0, 0, 0);
    border-radius: 2rem;
    width: 300px
}
.carta__foto__img{
    height:200px;
    width: 300px;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem
}
.carta__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carta__texto__title1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(189, 184, 184);
}
.carta__texto__title2{
display: flex;
font-size: small;
display: flex;
justify-content: center;
color: rgb(189, 184, 184);
}
.carta__frase__frase{
    font-size: 0.5;
    color: rgb(189, 184, 184);
}
.carta__botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}
.boton__facebook,.boton__instagram,.boton__youtube,.boton__twitter,.boton__actualidad,.boton__transfer{
    width: 100%;
    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.4rem;
    border: none;
}
.boton__facebook{
    background-color: #1877f2;
    color: white;
}
.boton__instagram{
    background-color: #ee2a7b;
    color: white;
}
.boton__youtube{
    background-color: #FF0000;
    color: white;
}
.boton__twitter{
    background-color: black;
    color: white;

}
.boton__actualidad{
    background-color: rgb(226, 151, 164);
    color: rgb(0, 0, 0);
}
.boton__transfer{
    background-color: rgb(20, 20, 77);
    color: white;
}
a{
    width: 300px;
}

@media (max-width:1200px){
    .carta__foto__img{
    height:300px;
    width: 500px;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem
    }
    .carta__foto{
    background-color:  rgb(0, 0, 0);
    border-radius: 2rem;
    width: 500px
    }
    .boton__facebook,.boton__instagram,.boton__youtube,.boton__twitter,.boton__actualidad,.boton__transfer{
        width: 500px;
        cursor: pointer;
        border-radius: 0.6rem;
        border: none;
    }
    .carta__botones{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.3rem;
        padding-right: 13rem;
    }
}
@media (max-width:720px){
    .carta__foto__img{
    height:200px;
    width: 400px;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem
    }
    .carta__foto{
    background-color:  rgb(0, 0, 0);
    border-radius: 2rem;
    width: 400px
    }
    .boton__facebook,.boton__instagram,.boton__youtube,.boton__twitter,.boton__actualidad,.boton__transfer{
        width: 400px;
        cursor: pointer;
        border-radius: 0.6rem;
        border: none;
    }
    .carta__botones{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.3rem;
        padding-right: 7rem;
    }
}
@media (min-width: 1201px){
    .carta__foto__img{
        height:300px;
        width: 500px;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem
        }
        .carta__foto{
        background-color:  rgb(0, 0, 0);
        border-radius: 2rem;
        width: 500px
        }
        .boton__facebook,.boton__instagram,.boton__youtube,.boton__twitter,.boton__actualidad,.boton__transfer{
            width: 500px;
            cursor: pointer;
            border-radius: 0.6rem;
            border: none;
        }
        .carta__botones{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0.3rem;
            padding-right: 13rem;
        }
}
@media (max-width:500px){
    .carta{
        width: 250px;
    }
    .carta__foto__img{
        width: 200px;
        height: 150px;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem
    }
    .carta__foto{
        background-color:  rgb(0, 0, 0);
        border-radius: 2rem;
        width: 200px
    }
    .boton__facebook,.boton__instagram,.boton__youtube,.boton__twitter,.boton__actualidad,.boton__transfer{
        width: 200px;
        cursor: pointer;
        border-radius: 0.6rem;
        border: none;
    }
    .carta__botones{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.3rem;
        padding-left: 13rem;
    }
}